<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name='keywords' content='bennys bitches miniBitches'/>
    <meta name='description' content='Bennys Bitches'/>
    <meta name="msapplication-TileColor" content="#00FFFF">
    <meta name="theme-color" content="#00FFFF">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Candal' rel='stylesheet' type='text/css'>
    <link href="css/bulma.css" rel="stylesheet" type="text/css" media="all">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="css/mobile.css" rel="stylesheet" type="text/css" media="only screen
      and (min-device-width : 320px)
      and (max-device-width : 480px)" >

    <title>miniBitches</title>
</head>

<body>

    <img src="image/BennysBitchesLogoBigpng.png" alt="" class="bennyLogo classname">
    <img src="gifs/moreFace.gif" alt="" class="bennyLogo2">
    <div style="text-align: center;">
        <img src="http://minibitches.se/beta/image/headerImg.png" alt="Logo">
    </div>
    <nav class="navbar">
        <div class="navbar-item is-text-centered">
            <p class="heading">Antal röster</p>
            <p class="title" id="totalVotesView" v-cloak>{{ totpoints }}</p>
            <img class="title" src="gifs/counter.gif">

        </div>
    </nav>

    <body>


        <section class="section danceSection">

            <div class="container" id="danceView">
                <div class="message removeDesktop" v-show="showInfo" v-el:info-box >
                      <div class="message-header ">
                        Infromation!
                      </div>
                      <div class="message-body fullHight">
                        Välj vem av dansarna som du tycker är bäst!
                        <div class="playBtn" v-on:click="rInfo">PLAY</div>
                      </div>
                </div>
                <div class="columns">
                    <div class="column playerStyle" id="contestantOne">
                        <video class="videoSize" autoplay autobuffer loop muted v-el:contestant-one id="playOne" v-bind:src="contestantOne"></video>
                        <div class="winnerBtn" v-on:click="cOneWinner"><b>Rösta</b></div>
                        <img v-if="Math.random() > 0.5" src="gifs/smiling.gif" alt="">
                    </div>
                    <div class="column playerStyle" id="contestantTwo">
                        <video autoplay autobuffer loop muted class="videoSize" v-el:contestant-two id="playTwo" v-bind:src="contestantTwo"></video>
                        <div class="winnerBtn" v-on:click="cTwoWinner"><b>Rösta</b></div>
                        <img v-if="Math.random() > 0.5" src="gifs/smiling.gif" alt="">
                    </div>
                </div>
            </div>
        </section>

        <div id="jukebox">

            <div class="columns">
                  <div class="column" style="background-color:red; color:black;">
                      <div class="pointer" v-on:click="songOne">SongOne</div>
                  </div>
                  <div class="column" style="background-color:blue; color:black;">
                      <div class="pointer" v-on:click="songTwo"><b>SongTvå!</b></div>
                  </div>
                </div>

            <audio autoplay v-el:intromusic id="intromusic" loop src="audio/Benny-Hill-Theme.mp3.mp3" type="audio/mpeg"></audio>
        </div>

        <section class="section tableStyle ">
            <div class="container imageBordeDance">
                <div class="heading">
                    <h1 class="title">Resultat</h1>
                    <h2 class="subtitle">
          Vem är dansens mästare?
        </h2>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Namn</th>
                            <th>Dans poäng</th>
                        </tr>
                    </thead>
                    <tbody id="rankView">
                        <tr v-for="item in items | orderBy 'points' -1" v-cloak>
                            <td>{{item.name}} <img v-if="Math.random() > 0.5" src="gifs/hot.gif" alt=""></td>
                            <td>{{item.points}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <footer class="footer">
            <div class="container">
                <div class="content is-centered">
                    <p>site made by<strong> <a href="http://bennysbitches.com">BennysBitches</a></strong>.</p>
                    <i>works best in</i><a href="https://www.microsoft.com/sv-se/download/internet-explorer-8-details.aspx"><img src="gifs/explorer.gif" alt=""></a>
                </div>
            </div>
        </footer>


        <script src="http://cdn.jsdelivr.net/vue/1.0.16/vue.min.js"></script>
        <script src="script/main.js"></script>
    </body>

</html>
